h2{
    text-align: center;
}

.smaller-image {
    width: 200px
};

.logo {
    width: 18px;
    height: 60px;
}

.footer {  
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.footer p {
    text-align: center;
}